BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: false
ColumnLimit: 100
IndentCaseLabels: false
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
PointerAlignment: Right
DerivePointerAlignment: false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
SortIncludes: false
IncludeBlocks: Preserve
AlwaysBreakTemplateDeclarations: No
BreakStringLiterals: false
SortUsingDeclarations: false
ReflowComments: false
